.bp-element-brands .owl-stage {
  display: flex;
  align-items: center; }

.bp-element-brands .owl-nav {
  display: none; }

.bp-element-brands.layout-grid {
  background: transparent;
  padding: 0; }
  .bp-element-brands.layout-grid .wrap-content {
    display: flex;
    flex-wrap: wrap; }
    .bp-element-brands.layout-grid .wrap-content .item {
      width: calc(100% / 3);
      height: 150px;
      text-align: center;
      line-height: 150px;
      padding: 15px; }
      .bp-element-brands.layout-grid .wrap-content .item img {
        max-width: 100%;
        max-height: 100%;
        opacity: .4;
        transition: all .3s; }
        .bp-element-brands.layout-grid .wrap-content .item img:hover {
          opacity: 1; }
