@using TrainingCentreManagement.Models.EntityModels
@model TrainingCentreManagement.Models.EntityModels.Batch

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Batch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSeats" class="control-label"></label>
                <input asp-for="TotalSeats" class="form-control" />
                <span asp-validation-for="TotalSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationStart" class="control-label"></label>
                <input asp-for="RegistrationStart" class="form-control" />
                <span asp-validation-for="RegistrationStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationEnd" class="control-label"></label>
                <input asp-for="RegistrationEnd" class="form-control" />
                <span asp-validation-for="RegistrationEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassStart" class="control-label"></label>
                <input asp-for="ClassStart" class="form-control" />
                <span asp-validation-for="ClassStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
